<a href="https://colab.research.google.com/github/Coders-Asylum/Python-101/blob/master/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

## Lists

List is a basic data structure in Python, you can consider ```List``` as arrays(just of consideration, technically lists and arrays are very different) in python.

To define a list you must include the list elements inside  ```[]``` brackets seperated by a commas. 

In python generelly list contains elements with the same datatype but the elements can be of different data type.

In [0]:
a = [213, 51, 221, 211, 213, 'f', 'a', 'e', 'c', 'b']
print(a)

[213, 51, 221, 211, 213, 'f', 'a', 'e', 'c', 'b']

Elemenst from the lists are accessed by adressing the position of the elemets.
The position of the elemenst follow the same position structure as used in string slicing.

consider the list ```a=[1,2,3,4,5,6]``` the position of the elements would be as follows.
```
   +---+---+---+---+---+---+
a=[| 1 | 2 | 3 | 4 | 5 | 6 |]
   +---+---+---+---+---+---+
     0   1   2   3   4   5   #positive index
    -6  -5  -4  -3  -2  -1   #negative index
```
Both psotive and negative indexing works but ```a=[0]``` will always the first element from the  left.

In [0]:
a=[1,2,3,4,5,6]
print("a[0] will always be the first element from left:",a[0]) 
print("Lets get the second element by positive indexing:",a[1])
print("Lets get the second element by negative indexing:",a[-5])

a[0] will always be the first element from left: 1
Lets get the second element by positive indexing: 2
Lets get the second element by negative indexing: 2

The same indexing method can be used to add or exchange an element since lists are mutable whcih means their elemnts can be changed even after declaration. All the slicing methods can be used on lists.

A basic syntax of slicing is ```listname=[start_index : stop_index]```

In [0]:

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']   #define a list 
print(letters, "\n") 


letters[2:5] = ['C', 'D', 'E']  #add new members over existing members using sicing
print(letters) 


letters[2:5] = [] 
print(letters) # remeove  a set of elements using slicing.
  
#to add elements to the end of the  list you can use the append keyword

letters.append(['C', 'D', 'E'])
print(letters)

# to add letters using slicing to the end of the list
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']   
letters[6:]=['C', 'D', 'E']
print(letters)


letters[:] = [] # empty the whole list using slicing
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
['a', 'b', 'f', 'g', ['C', 'D', 'E']]
['a', 'b', 'c', 'd', 'e', 'f', 'C', 'D', 'E']
[]

Experiment more using slicing to understand more about the functioning by yourself.

Some inbuli instrucions that will help you modify lists are as follows.

Look at the code outputs and understand the functions of the keywords.

In [0]:
a=[1,2,3] 
b=["a","s","d"] 
print(a) 
print(b) 

a.append(b)   # APPEND FUNCTION USED TO ADD TWO LISTS 
print(a)

[1, 2, 3]
['a', 's', 'd']
[1, 2, 3, ['a', 's', 'd']]

In [0]:
a=[1,2,3] 
a.pop(1) #removes the element from the list, argument takes index value of element. 
print(a)
print()

[1, 3]

In [0]:
b=["a","s","d"] 
b[2]="y"       #Add a specific element to the list with specifying the index value. 
print(b)

['a', 's', 'y']

In [0]:
b=["a","s","d"]

b.insert(3,"y")  #Insert keyword used to add elements into the list                   
# arguments take the index value and the element to be added. 
print(b)

['a', 's', 'd', 'y']

In [0]:
b=["a","s","d"]

b.clear()      #Clears the whole list. 
print(b)

[]

In [0]:
b=[1,2,5,8,6,7,9,6,3] 
print(b) 
 
b.remove(6)    #removes first instance of specific element. 
print(b)

[1, 2, 5, 8, 6, 7, 9, 6, 3]
[1, 2, 5, 8, 7, 9, 6, 3]

In [0]:
b=[1,2,5,8,6,7,9,6,3] 

del b[2:4] #deletes element, arguments takes index value as single value or as for slicing 
print(b)

[1, 2, 6, 7, 9, 6, 3]

In [0]:
b=[1,2,5,8,6,7,9,6,3] 

b.extend([5,8,6]) #adds the elements to the end of the list. 
print(b)

[1, 2, 5, 8, 6, 7, 9, 6, 3, 5, 8, 6]

In [0]:
b=[1,2,5,8,6,7,9,6,3] 

print(min(b)) #gives the minimum value 
 
print(max(b)) #gives the maximum value 
 
print(len(b)) #gives the length of the list.

1
9
9

In [0]:
b=[1,2,5,8,6,7,9,6,3] 

b.sort()     #sorts the list into ascending order 
print(b)

[1, 2, 3, 5, 6, 6, 7, 8, 9]

In [0]:
a=['s','d','a','r','e'] 
a.sort(reverse=True) #when reverse=true, sorting takes place in descending order. 

print(a)

a=['s','d','a','r','e'] 
a.reverse()  # .reverse() keyword reverses the list. 
print(a)

['s', 'r', 'e', 'd', 'a']
['e', 'r', 'a', 'd', 's']

## Tuples

Tuples are immutable data-strructures, which means after defining a tuple the elements of the tuple cannot be changed.

A tuple consists of a number of values separated by commas,for instance

``` variable = 12345, 54321, 'hello!'```

Similar to the list the elements are seperated by commas ```,```. A tuple can also be defined by enclosing the elements inside the round brackets ```()```.

Tuples may be nested, such as:

In [0]:
t=('a','b','c','d','e' )  
u = t, (1, 2, 3, 4, 5)  # nesting t inside u
print(u)

(('a', 'b', 'c', 'd', 'e'), (1, 2, 3, 4, 5))

We said that tuples are immutable but tuples can contain imuutable objects.

In [0]:
v = ([1, 2, 3], [3, 2, 1]) # lists inside tuples
print(v)

([1, 2, 3], [3, 2, 1])

### Unpacaking Tuples

We know how to define a tuple. Tuple have  an intresting property of unpacking the elements into different variables. Now consider the below example:

In [0]:
t=(1,2,3,"hello")
print(t,"\n")

w,x,y,z=t   # Unpacking the elements into different 

print(w)
print(x)
print(y)
print(z)

(1, 2, 3, 'hello')

1
2
3
hello

## Sets

Python also supports sets as an datatype. Sets are unorders collecttion of data whitout any duplicates. 

Sets in python are same as the sets in matamatics, so they(set elements) support matamatical opeeraions such union, intersection, difference, and symmetric difference.

Sets are defined by the ```set()``` or by ```{}```, now to a define a empty set, you must use ```variable=set()``` and not ```variable={}```. By doing the later the interpreter will interpret and define an empty dictionary.

Look at the code example below to get a:

In [0]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

print(basket)                      # show that duplicates have been removed
{'orange', 'banana', 'pear', 'apple'}

#the same set can be defined using the set() keyword

basket=set(['apple','orange','apple','pear','orange','banana'])
print (basket)

{'apple', 'pear', 'orange', 'banana'}
{'apple', 'pear', 'orange', 'banana'}

In the above delaration of set using ```set()```  a list was given as an argument beacuse the ```set()```  only takes one argument and removing the square brackets would send each element as an argument and create and error on execution.

If you declare a Set as follows using the ```set()```:

```variable=set('apple')```  The interpreter will consider each letter of the string as an element and duplicates will be destroyed.

In [0]:
basket=set('apple')
print(basket)

numbers=set('123548965465')
print(numbers)

# individual integers can be declared as list as follow
numbers=set([1,2,3,4,5,5])
print(numbers)

{'p', 'l', 'e', 'a'}
{'9', '4', '2', '8', '3', '6', '1', '5'}
{1, 2, 3, 4, 5}

### Operations on sets

In [0]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) 

print('orange' in basket)  # returns boolean value

print('adadadada' in basket)

{'apple', 'pear', 'orange', 'banana'}
True
False

In [0]:
a = set('abracadabra')
print(a)        # prints 'unique' elements in 'a'
b = set('alacazam')
print(b)    # prints 'unique' elements in 'b'

# look at the output to see how the elements of the set is scanned on using set()

{'r', 'b', 'c', 'd', 'a'}
{'z', 'm', 'c', 'l', 'a'}

In [0]:
# Union(letters in a or b or both) of Sets
a = set('abracadabra')
b = set('alacazam')

print(a | b)   # '|' (or operator) is used as the union operator

{'z', 'r', 'm', 'b', 'c', 'd', 'l', 'a'}

In [0]:
# Intersection(letters in both a and b) of sets
a = set('abracadabra')
b = set('alacazam')

print(a & b) # '&' (and operator) is used as the Intersection operator

{'c', 'a'}

In [0]:
# Diffreence(letters in one set but not in other set) of set
a = set('abracadabra')
b = set('alacazam')

print(a - b) # '-' is used as the Difference operator

{'d', 'r', 'b'}

In [0]:
# Symmetric difference(letters in a or b but not both) of sets

a = set('abracadabra')
b = set('alacazam')

print(a ^ b)  # '^' is used as the symmetric difference operator

## Dictionaries

Dictionary is an another type of data structure suppoeeted by python. Dictonary is also present in other languages as “associative memories” or “associative arrays”. 

Dictionary is unlike other sequence where the elements are indexed by numbers( posional index 0,1,2,3,4....), in dictionary the elements are indexed by keys, which can be any immutable types.

Strings and numbers can always be keys.

You can’t use ```list``` as keys, since lists can be modified in place using index assignments, slice assignments, or methods like ```append()``` and ```extend()```.

Dictionary is defined as follows:

```dict={key1:value1,key2:value2,key3:value3....}```

The dict() constructor builds dictionaries directly from sequences of key-value pairs

In [1]:
tel = {'jack': 4098, 'sape': 4139}
print(tel['jack'])

4098

In [2]:
 tel=dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
 print(tel)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### Some Looping techniques using Data Structures

In [3]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
  print(k, v)

gallahad the pure
robin the brave

In [4]:
# enumerate can be used to get the positional indices of a sequence
for i, v in enumerate(['tic', 'tac', 'toe']):
  print(i, v)

0 tic
1 tac
2 toe

In [6]:
# Loopoing over two or more sequences is done as follows

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']

for q, a in zip(questions, answers): 
  # questions has the index '0' and answers has index '1' and so on 
  print('What is your {0}?  It is {1}.'.format(q, a))

What is your lancelot?  It is name.
What is your the holy grail?  It is quest.
What is your blue?  It is favorite color.