<a href="https://colab.research.google.com/github/Coders-Asylum/Python-101/blob/master/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

## Lists

List is a basic data structure in Python, you can consider ```List``` as arrays(just of consideration, technically lists and arrays are very different) in python.

To define a list you must include the list elements inside  ```[]``` brackets seperated by a commas. 

In python generelly list contains elements with the same datatype but the elements can be of different data type.

In [0]:
a = [213, 51, 221, 211, 213, 'f', 'a', 'e', 'c', 'b']
print(a)

[213, 51, 221, 211, 213, 'f', 'a', 'e', 'c', 'b']

Elemenst from the lists are accessed by adressing the position of the elemets.
The position of the elemenst follow the same position structure as used in string slicing.

consider the list ```a=[1,2,3,4,5,6]``` the position of the elements would be as follows.
```
   +---+---+---+---+---+---+
a=[| 1 | 2 | 3 | 4 | 5 | 6 |]
   +---+---+---+---+---+---+
     0   1   2   3   4   5   #positive index
    -6  -5  -4  -3  -2  -1   #negative index
```
Both psotive and negative indexing works but ```a=[0]``` will always the first element from the  left.

In [0]:
a=[1,2,3,4,5,6]
print("a[0] will always be the first element from left:",a[0]) 
print("Lets get the second element by negative indexing:",a[1])
print("Lets get the second element by negative indexing:",a[-5])

a[0] will always be the first element from left: 1
Lets get the second element by negative indexing: 2
Lets get the second element by negative indexing: 2

The same indexing method can be used to add or exchange an element since lists are mutable whcih means their elemnts can be changed even after declaration. All the slicing methods can be used on lists.

A basic syntax of slicing is ```listname=[start_index : stop_index]```

In [14]:

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']   #define a list 
print(letters, "\n") 


letters[2:5] = ['C', 'D', 'E']  #add new members over existing members using sicing
print(letters) 


letters[2:5] = [] 
print(letters) # remeove  a set of elements using slicing.
  
#to add elements to the end of the  list you can use the append keyword

letters.append(['C', 'D', 'E'])
print(letters)

# to add letters using slicing to the end of the list
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']   
letters[6:]=['C', 'D', 'E']
print(letters)


letters[:] = [] # empty the whole list using slicing
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
['a', 'b', 'f', 'g', ['C', 'D', 'E']]
['a', 'b', 'c', 'd', 'e', 'f', 'C', 'D', 'E']
[]

Experiment more using slicing to understand more about the functioning by yourself.

Some inbuli instrucions that will help you modify lists are as follows.

Look at the code outputs and understand the functions of the keywords.

In [18]:
a=[1,2,3] 
b=["a","s","d"] 
print(a) 
print(b) 

a.append(b)   # APPEND FUNCTION USED TO ADD TWO LISTS 
print(a)

[1, 2, 3]
['a', 's', 'd']
[1, 2, 3, ['a', 's', 'd']]

In [19]:
a=[1,2,3] 
a.pop(1) #removes the element from the list, argument takes index value of element. 
print(a)
print()

[1, 3]

In [20]:
b=["a","s","d"] 
b[2]="y"       #Add a specific element to the list with specifying the index value. 
print(b)

['a', 's', 'y']

In [21]:
b=["a","s","d"]

b.insert(3,"y")  #Insert keyword used to add elements into the list                   
# arguments take the index value and the element to be added. 
print(b)

['a', 's', 'd', 'y']

In [22]:
b=["a","s","d"]

b.clear()      #Clears the whole list. 
print(b)

[]

In [23]:
b=[1,2,5,8,6,7,9,6,3] 
print(b) 
 
b.remove(6)    #removes first instance of specific element. 
print(b)

[1, 2, 5, 8, 6, 7, 9, 6, 3]
[1, 2, 5, 8, 7, 9, 6, 3]

In [24]:
b=[1,2,5,8,6,7,9,6,3] 

del b[2:4] #deletes element, arguments takes index value as single value or as for slicing 
print(b)

[1, 2, 6, 7, 9, 6, 3]

In [25]:
b=[1,2,5,8,6,7,9,6,3] 

b.extend([5,8,6]) #adds the elements to the end of the list. 
print(b)

[1, 2, 5, 8, 6, 7, 9, 6, 3, 5, 8, 6]

In [26]:
b=[1,2,5,8,6,7,9,6,3] 

print(min(b)) #gives the minimum value 
 
print(max(b)) #gives the maximum value 
 
print(len(b)) #gives the length of the list.

1
9
9

In [27]:
b=[1,2,5,8,6,7,9,6,3] 

b.sort()     #sorts the list into ascending order 
print(b)

[1, 2, 3, 5, 6, 6, 7, 8, 9]

In [29]:
a=['s','d','a','r','e'] 
a.sort(reverse=True) #when reverse=true, sorting takes place in descending order. 

print(a)

a=['s','d','a','r','e'] 
a.reverse()  # .reverse() keyword reverses the list. 
print(a)

['s', 'r', 'e', 'd', 'a']
['e', 'r', 'a', 'd', 's']

## Tuples